<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1
      class="mb-4 text-4xl font-bold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-6xl dark:text-white"
    >
      Blog Article
    </h1>
    <a href="articles/new">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Add New
      </button>
    </a>

    <div class="container mx-auto w-full">
      <% articles.forEach(article => {%>
      <div class="max-w-sm w-full lg:max-w-full mb-4">
        <div
          class="border border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
        >
          <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">
              <%=article.title %>
            </div>
            <p class="text-gray-700 text-base"><%=article.description %></p>
          </div>
          <div class="flex items-center">
            <div class="text-sm">
              <p class="text-gray-900 leading-none">
                <%=article. createdDate.toLocaleString() %>
              </p>
            </div>
          </div>
          <div class="flex items-center">
            <a
              href="articles/<%=article.slug %>"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2"
            >
              Read More
            </a>
            <a
              href="articles/edit/<%=article.id %>"
              class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2"
            >
              Edit
            </a>

            <form
              action="articles/<%=article.id %>?_method=DELETE"
              method="POST"
            >
              <button
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded m-2"
              >
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
